* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

/* --------------header-------------- */
#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    margin-top: 0px;
    top: 0;
    background-color: #24262b;
    z-index: 5;
    color: #ffffff;
}

#header img {
    display: inline-block;
	height: 60px;
	width: 60px;
	background-color: rgba(255,255,255,0.2);
	margin:0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

#header h1 {
    margin: 0;
    animation: flash 1s infinite;
    animation: bounceIn 0.5s;
}

@keyframes bounceIn {
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }
    35% {
        filter: opacity(0.25);
        transform: translateY(0);
    }
    70% {
        filter: opacity(0.5);
        transform: translateY(-10px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}

@keyframes flash {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

#header h1 {
    font-weight: 700;
    font-size: 28px;
    margin: 10px 0 16px 0;;
}


#list-style {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

li > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 33px 12px;
    
}

nav > ul > li > a {
    margin-left: 12px;
}

nav >  ul > li > a:hover {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
}
/* --------------header-------------- */


/* --------------Main Content-------------- */
#title-paragraf {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
#title-paragraf h3 {
    padding: 0;
    margin: 0;
}

#title-paragraf h5 {
    margin: 0;
}

.project-wrapper li {
    display: inline-block;
}

.portfolio-item {
    cursor: pointer;
    margin: 0 1% 1% 0;
    overflow: hidden;
    position: relative;
    width: 32%;
}

.portfolio-item img {
    width: 100%;
}

figcaption.mask {
    background-color: rgba(54, 55, 50, 0.79);
    bottom: -126px;
    color: #fff;
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: left;
    
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.portfolio-item:hover figcaption.mask {
    bottom: 0;
}

figcaption.mask h3 {
    margin: 0;
    color: #fff;
}

.fancybox-skin {
    border-radius: 0;
}

.fancybox-title.fancybox-title-inside-wrap {
    padding: 15px;
}

.fancybox-title h3 {
    margin: 0 0 15px;
}

.fancybox-title p {
    color: #818181;
    font-size: 16px;
    line-height: 22px;
}

.fancybox-title-inside-wrap {
    padding-top: 0;
}
/* --------------Main Content-------------- */


/* --------------FOOTER-------------- */
.footer{
	background-color: #24262b;
    padding: 30px 0;
    margin-top: 80px;
}

.container{
    max-width: 1170px;
	margin:auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul{
	list-style: none;
}

.list-area {
    width: 33%;
    padding: 0 10px;
    padding: 50px;
}

.btn-alt {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-right: 16px;
    width: 50%;
    height: 40px;
    border: 3px solid #e91e63;
    border-radius: 2px;
    font-size: 17px;
	box-sizing: border-box;
}

.btn-alt:hover {
    background-color: #e91e63;
}

#list-photo {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
    display: flex;
    flex-direction: row;
}

#list-photo img {
    width: 30% !important;
    height: auto !important;
    margin-bottom:5px;  
}

.list-area h2 {
    font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.list-area h2::before {
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.list-area ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.list-area p {
    color: #ffffff;
}

.list-area ul li {
    color: #ffffff;
}

.list-area ul li img {
    width: 25px;
    float: left;
    margin-right: 8px;
    margin-top: 10px;
}

.list-area ul  {
    margin: 0;
    padding: 0;
}

.list-area ul li:not(:last-child){
	margin-bottom: 10px;
}

ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.list-area .social-links a img{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}
.list-area .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

#footer-navbar {
    background-color: #000;
    justify-content: left;
}

#list-nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

#list-nav-footer > #h11 > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

/*responsive*/
@media(max-width: 767px){
    .list-area{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .list-area{
    width: 100%;
}
}

/* --------------FOOTER-------------- */
